<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>GIS Anwendung</title>
	<link rel="shortcut icon" href="images/logo.png"/>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="studierende.html">Schüler</a>
				</li>
				<li class="selected">
					<a href="lehrer.html">Lehrer</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="leftcls">
		<h2>Profil erstellen</h2>
		<form action="input_text_tabelle.htm">
		  <table border="0" cellpadding="0" cellspacing="4">
			<tr>
			  <td align="right">Vorname:</td>
			  <td><input name="vorname" type="text" size="30" maxlength="30"></td>
			</tr>
			<tr>
			  <td align="right">Zuname:</td>
			  <td><input name="zuname" type="text" size="30" maxlength="40"></td>
			</tr>
			<tr>
			  <td align="right">Fächer:</td>
			  <td><input name="Fächer" type="text" size="30" maxlength="40"></td>
			</tr>
			<tr>
			  <td align="right">E-mail:</td>
			  <td><input name="E-mail" type="text" size="30" maxlength="40"></td>
			</tr>
			<tr>
			  <td align="right">Adresse:</td>
			  <td><input name="Adresse" type="text" size="30" maxlength="40"></td>
			</tr>
			<tr>
			  <td align="right">Schultyp:</td>
			  <td><input name="Schultyp" type="text" size="30" maxlength="40"></td>
			</tr>
			<tr>
			  <td align="right">Preis:</td>
			  <td><input name="Kosten pro Stunde" type="text" size="30" maxlength="40"></td>
			
			</tr>
			</table>
			<br />
			<table border="0" cellpadding="0" cellspacing="4">
				<tr>
				<td><input type="submit" class="Button" value="Speichern"></td>
				<td><input type="reset" class="Button" value="Abbrechen"></td>
				</tr>
			</table>
		</form>
		<br />
		<h2>Profil ändern / löschen</h2>
		<p style="color:red">TODO!!!</p>
			
	</div>
			
	<div class="cleaner"></div>
	
	<div id="footer">
		<div>
			<p>
				&#169; Denk &amp; Plocon 2013
			</p>
			
		</div>
	</div>
</body>
</html>
